In [11]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [12]:
##Crear fechas desde 01-01-2022 hasta 04-05-2023
fechas = pd.date_range(start='01-01-2022',end='04-05-2023')
#fechas = fechas.strftime('%d-%m-%Y')
fechas

DatetimeIndex(['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04',
               '2022-01-05', '2022-01-06', '2022-01-07', '2022-01-08',
               '2022-01-09', '2022-01-10',
               ...
               '2023-03-27', '2023-03-28', '2023-03-29', '2023-03-30',
               '2023-03-31', '2023-04-01', '2023-04-02', '2023-04-03',
               '2023-04-04', '2023-04-05'],
              dtype='datetime64[ns]', length=460, freq='D')

In [13]:
dia_semana = fechas.day_name()
dia_semana

Index(['Saturday', 'Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday',
       'Friday', 'Saturday', 'Sunday', 'Monday',
       ...
       'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday', 'Monday', 'Tuesday', 'Wednesday'],
      dtype='object', length=460)

In [14]:
ventas = pd.DataFrame({'fechas':fechas,'nombre_dia':dia_semana})
ventas

        fechas nombre_dia
0   2022-01-01   Saturday
1   2022-01-02     Sunday
2   2022-01-03     Monday
3   2022-01-04    Tuesday
4   2022-01-05  Wednesday
..         ...        ...
455 2023-04-01   Saturday
456 2023-04-02     Sunday
457 2023-04-03     Monday
458 2023-04-04    Tuesday
459 2023-04-05  Wednesday

[460 rows x 2 columns]

In [16]:
#reglas
#lunes: 5 cervezas
#martes: 20 cervezas
#miercoles: 40 cervezas
#jueves: 150 cervezas
#viernes: 200 cervezas
#sabado: 200 cervezas
#domingo: 0 cervezas

media_dias = {'Monday': 5, 'Tuesday': 20, 'Wednesday': 40, 'Thursday': 150, 'Friday': 200, 'Saturday': 200, 'Sunday': 0}

def simular_ventas(dia):
    '''esta función simula una venta de cerveza
     entradas: dia (dia de la semana) 
     salida: valor con posible venta para ese día'''
    

    resultado_venta = np.random.normal(media_dias[dia],0.3*media_dias[dia])
    resultado_venta = int(np.round(resultado_venta))
    resultado_venta = max(resultado_venta,0)
    return resultado_venta

simular_ventas('Monday')

6

In [17]:
ventas['ventas'] = ventas['nombre_dia'].apply(simular_ventas)

In [18]:
ventas

        fechas nombre_dia  ventas
0   2022-01-01   Saturday     167
1   2022-01-02     Sunday       0
2   2022-01-03     Monday       3
3   2022-01-04    Tuesday      23
4   2022-01-05  Wednesday      46
..         ...        ...     ...
455 2023-04-01   Saturday     246
456 2023-04-02     Sunday       0
457 2023-04-03     Monday       6
458 2023-04-04    Tuesday      22
459 2023-04-05  Wednesday      50

[460 rows x 3 columns]